.brands-name .nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #172431;
}

body.loading::after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.84);
    content: "Coletando Seus Filmes e Livros no Facebook...\a \a A Página Recarregará Automaticamente Ao Finalizar.";
    display: block;
    white-space: pre;
    font-size: 30px;
    font-weight: bold;
    color: white;
    height: 100%;
    left: 0;
    padding-top: 15%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1000;
}